  <div class="container">
  <p-growl [value]="msgs" [life]=5000></p-growl>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Account Detail</strong>
          </div>
          <div class="card-body">
            <form name="updateForm" (ngSubmit)="updateAccount()">
              <div class="form-group">
                <label class="form-col-form-label" for="username">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="formData.username" name="username" style="background-color: #ffff;" readonly #username="ngModel">
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="formData.email" #owner="ngModel" style="background-color: #ffff;" readonly name="email">
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" name="first_name">
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel" name="last_name">
              </div>
              <br>
              <div class="form-group">
                  <div class="row">
                      <div class="col-sm-3">
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
                      </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div><!--/.col-->
    </div>
  </div>
