<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Password Recovery</h1>
            <p class="text-muted"></p>
            <p-messages [(value)]="msgs"></p-messages>
            <form id="recovery-form" name='RecoveryForm' #RecoveryForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="input-group">
                <input type="email" class="form-control" id="email" name='email'
                [(ngModel)]="formData.email" #email="ngModel" required placeholder="Enter email">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-block btn-success" [disabled]="!RecoveryForm.form.valid || RecoveryForm.form.pristine">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
