<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4" [hidden]='success'>
            <h1>Recovery Password</h1>
            <p class="text-muted">Enter your new password in the fields below.</p>
            <p-messages [(value)]="msgs"></p-messages>
            <form id="recoverypassword-form" name='RecoveryPasswordForm' #RecoveryPasswordForm="ngForm" (ngSubmit)="RecoveryPassword()" novalidate>
              <div class="form-group">
                <label for="new_password">New Password*</label>
                <input type="password" class="form-control" id="new_password" name="new_password"
                [(ngModel)]='formData.new_password' required>
              </div>

              <div class="form-group">
                <label for="repeated_password">Repeat password*</label>
                <input type="password" class="form-control" id="repeated_password" name="repeated_password"
                [(ngModel)]='formData.repeated_password' required>
              </div>

              <button type="submit" class="btn btn-block btn-success" [disabled]="!RecoveryPasswordForm.form.valid || RecoveryPasswordForm.form.pristine">Send</button>
            </form>
          </div>
          <div class="card-body p-4" [hidden]='!success'>
            <h1>Success!</h1>
            <h4 class="text-muted">Password changed successfully! Go to <a href='login'>Login</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
