<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group" style="text-align: center;">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="pt-3">GREAT! You have created your account!</h3>
              <h4 class="pt-3">Check your email and activate your profile by clicking on the link in the confirmation email we sent you.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
