<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-round card mx-4">
          <div class="card-body p-4">
            <h1>Registration</h1>

            <p-messages [(value)]="msgs"></p-messages>
            <form id="register-form" name='RegisterForm' #RegisterForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
              
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="username" name='username' placeholder="Username*"
                  [(ngModel)]="regData.username" #username="ngModel" required>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="email" name='email' placeholder="Email*"
                  [(ngModel)]="regData.email" #email="ngModel" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="first_name" name='first_name' placeholder="First Name"
                  [(ngModel)]="regData.first_name" #first_name="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="last_name" name='last_name' placeholder="Last Name"
                  [(ngModel)]="regData.last_name" #last_name="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="password" class="form-control registration" id="password" name='password' placeholder="Password*"
                  [(ngModel)]="regData.password" required>
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control registration" id="r_password" name='r_password' placeholder="Repeat Password*"
                  [(ngModel)]="regData.r_password" required>
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control registration" id="name" name='name' placeholder="Organization Name*"
                [(ngModel)]="regData.org.name" required>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="location" name='location' placeholder="Organization Location"
                  [(ngModel)]="regData.org.location" #location='ngModel'>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control registration" id="state" name='state' placeholder="Organization State"
                  [(ngModel)]="regData.org.state" #state="ngModel">
                </div>
              </div>

              <div class="form-row"> 
                <div class="col-md-6"></div>
                <div class="justify-content-end form-inline col-md-6">
                   <a href="" class="btn btn-link" [routerLink]="['/login']">Already registred? Sign in!</a>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6"></div>
                <div class="justify-content-end form-inline col-md-6">
                  <button type="submit" class="btn-login btn btn-primary btn-rounded btn-block" [disabled]="!RegisterForm.form.valid || RegisterForm.form.pristine">CREATE ACCOUNT</button>
                </div>
              </div>

            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
